.area_logo {
	position: relative;
}

.logo {
  position: absolute;
  top: -25px;
  left: 0px;
  z-index: 1;
}

.bg-about {
	background-color: #565656;
}

.bg-btn {
	background-color: #878787;
}

#portfolio {
	background-color: transparent;
}
.text-email {
	color: black !important;
}